@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&family=Hubballi&family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#1DB954,#ffffff);
  }
 
  /* Page 1 */
  #info-btn.btn.btn-lg.btn-danger {
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgba(58, 57, 57, 0.644);
    border-color: transparent;
    border-radius: .9rem;
  }

  #title {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: "Hubballi", sans-serif;
  }

  footer {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: "Hubballi", sans-serif;
    padding-top: 250px;
  }

.button {
    color: rgb(255, 255, 255);
    background-color: rgba(58, 57, 57, 0.644);
    box-shadow: rgba(18, 99, 42, 0.678) 0 15px 30px -5px;
    box-sizing: border-box;
    font-size: 35px;
    font-family: "Hubballi", sans-serif;
    text-align: center;
    text-decoration: none;
    border: #ffffff;
    border-radius: 100px;
    padding-top: 25px;
    display: inline-block;
    height:100px; 
    width:400px; 
    margin: -10px -50px; 
    top:40%; 
    left:35%;
    justify-content: center;
}

.button-container {
    margin: auto;
    text-align: center;
    padding-top: 90px;
}

/* Page 2 */
#title2 {
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-family: "Hubballi", sans-serif;
    padding-top: 30px;
  }

#subtitle {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  h4 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Hubballi", sans-serif;
    margin: auto;
    padding-bottom: 15px;
  }

  /* Activity text boxes */
  ul.info {
    padding-top: 30px;
    margin-right: 45px;
  }

  h5, .info {
    font-family: "Hubballi", sans-serif;
    font-size: 25px;
    text-align: left;
  }

  img.prof-pic {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70%;
  }

  img.pic {
    max-width: 70%;
    max-height: 70%;
  }
